<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>BOSI-inicio</title>
  <link href="resourses/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header class="header">

        <img class="bg" src="resourses/images/bg.png" alt="">
        <img class="esp" src="resourses/images/especies.png" alt="">

        <div class="menu container">

            <a class="logo" href="#">Fresh Rescue</a>
            <input type="checkbox" id="menu">
            <label for="menu"><img class="menu-icono" src="resourses/images/menu.png" alt=""></label>
            <nav class="navbar">
                <ul>
                    <li><a href="#index">Inicio</a></li>
                    <li><a href="#eventos">Eventos</a></li>
                    <!--<li><a href="registro-evento.ejs">Reservaciones </a></li>-->
                    <li><a href="#nosotros">Sobre nosotros</a></li>
                    <li><a href="login.ejs">Iniciar Sesión</a></li>
                </ul>

            </nav>

        </div>

        <div class="header-content container">

            <div class="header-info">

                <div class="header-txt">
                    <h1>¡Salón de Fiestas El nene Adrián & Co.:3!</h1>
                    <p>
                        En <strong>El nene Adrián & Co. </strong>nos dedicamos a ofrecerte una amplia variedad de eventos a precios accesibles, mientras trabajamos activamente para ofrecerte evenctos de gran calidad. Creemos firmemente que todos merecen acceso a una party chidorris.
                    </p>
                    <a class="btn-1" href="registro.ejs">Regístrate</a>
                </div>
                <div class="header-img">
                    <img src="resourses/images/plato1.png" alt="">
                </div>

            </div>

        </div>

    </header>

    <section class="info container">

        <div class="info-1">
            <img src="resourses/images/time.svg" alt="">
            <h3>Horario para Reservar</h3>
            <p>Lunes a viernes de 9am a 8pm</p>
        </div>

        <div class="info-1">
            <img src="resourses/images/gps.svg" alt="">
            <h3>Dirección</h3>
            <p>México</p>
        </div>

        <div class="info-1">
            <img src="resourses/images/phone.svg" alt="">
            <h3>Contacto</h3>
            <p>5523823399</p>
        </div>

    </section>

    <section class="nosotros" id="nosotros">

        <img class="bg-2" src="resourses/images/bg-2.png" alt="">

        <div class="nosotros-info container">
            <div class="nosotros-img">
                <img src="resourses/images/plato2.png" alt="">
            </div>
            <div class="nosotros-txt">  
                <span>Salón de fiestas Adriancin</span>
                <h2>La mejor calidad de organización de eventos</h2>
                <p>
                    En <strong>El nene Adrián & Co.</strong>, no solo encontrarás una amplia gama de platillos para ofrecer en tu evento, sino que también serás parte de un de la organización del evento, ya que se busca crear un impacto positivo y ofrecer lo que desea como evento y que disfrute lo que servimos.
                </p>
                <a class="btn-1" href="#">Saber más</a>
            </div>
        </div>

    </section>

    <main class="products container" id="eventos">

        <h2>Eventos</h2>
        <p>
            Únete a nosotros en nuestro viaje hacia un futuro con más calidad a lahora de ofrecer un evento, disfrutas de alimentos deliciosos a precios asequibles y de acuerdo a tu evento. ¡Descubre la diferencia con <strong>El nene Adrian & Co.</strong> hoy mismo!
        </p>

        <div class="product-info">

            <div class="product">

                <img src="resourses/images/grad.jpg" alt="">
                <h3>Graduación</h3>
                <p>
                    Fiestas de graduaciones y asi 
                </p>
                <span>$15.00</span>
            </div>

            <div class="product">

                <img src="resourses/images/boda.jpeg" alt="">
                <h3>Boda</h3>
                <p>
                    Bodas inclueye regalo de bodas 
                </p>
                <span>$15.00</span>
            </div>

            <div class="product">

                <img src="resourses/images/bautizo.jpg" alt="">
                <h3>Bautizo</h3>
                <p>
                    Bautice al niño del demonio
                </p>
                <span>$15.00</span>
            </div>

            <div class="product">

                <img src="resourses/images/xv.jpg" alt="">
                <h3>XV años</h3>
                <p>
                    Los quince primaveras para su hija de los cojones o hijo de la madre
                </p>
                <span>$15.00</span>
            </div>

            <div class="product">

                <img src="resourses/images/familia.jpg" alt="">
                <h3>Reunion Familiar</h3>
                <p>
                    Reunase con sus seres queridos y asi creo
                </p>
                <span>$15.00</span>
            </div>

            <div class="product">

                <img src="resourses/images/negocios.jpg" alt="">
                <h3>Reunión de negocios</h3>
                <p>
                    Conferencias con sus jefes cabezones y bla bla
                </p>
                <span>$15.00</span>
            </div>

        </div>

    </main>

    <hr>

    <footer class="footer container">

        <div class="footer-links">

            <div class="link">

                <h3>Copyright &copy 2024 Fresh Rescue</h3>
                <div class="socials">
                    <img src="resourses/images/s1.svg" alt="">
                    <img src="resourses/images/s2.svg" alt="">
                    <img src="resourses/images/s3.svg" alt="">
                    <img src="resourses/images/s4.svg" alt="">
                </div>

            </div>

        </div>

    </footer>

  
  <script src="script.js"></script>
</body>

</html>